@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
font-family:'Poppins',sans-serif;
}

body{
background:#090909;
color:white;
overflow-x:hidden;
}

a{
text-decoration:none;
color:inherit;
}

section{
padding:100px 10%;
}

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{
background:#ff7eb6;
border-radius:20px;
}
body{
background:#0a0a0a;
overflow-x:hidden;
}

body::before,
body::after{
content:"";
position:fixed;
border-radius:50%;
filter:blur(120px);
opacity:.35;
z-index:-1;
animation:float 12s ease-in-out infinite;
}

body::before{
width:350px;
height:350px;
background:#ff7eb6;
top:-100px;
left:-100px;
}

body::after{
width:300px;
height:300px;
background:#7f5cff;
bottom:-80px;
right:-80px;
animation-delay:6s;
}

@keyframes float{
0%,100%{
transform:translateY(0) translateX(0);
}
50%{
transform:translateY(50px) translateX(40px);
}
}
html{
  scroll-behavior:smooth;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Poppins",sans-serif;
}

section{
  scroll-margin-top:100px;
}
.light-theme{
background:#f7f7f7;
color:#111;
}

.light-theme section{
background:#ffffff !important;
color:#111;
}

.light-theme .section-title{
color:#111;
}